body {
  background-color: #e6ecf0;
  direction: rtl;
  color: #031b4e;
  font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
  text-align: right;
  font-size: 14px !important;
}
.text-muted-white {
  color: rgba(255,255,255,0.8);
}
.list {
  border-bottom: 1px solid;
  padding: 20px;
}
.list-lc:last-child {
  border-bottom: 0;
}
.customNav {
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05);
}
.check-icon {
  width: 12.5px;
  vertical-align: middle;
}
.default-card, .card__header, .card__body, .card__footer {
  background-color: #ffffff;
  padding: 20px;
  line-height: 1.375em;
}
.default-card {
  border-radius: 7px;
  margin-bottom: 20px;
}
.card__header {
  border-radius: 7px 7px 0 0;
}
.card__footer {
  border-radius: 0 0 7px 7px;
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
.nested-ul {
  border-right: 1px solid;
}
label, .clickable {
  cursor: pointer;
}
label {
  font-weight: bold;
}
.wrapper {
  margin: 70px auto 50px;
}
.bootstrap-nav {
  margin: 0 auto;
  height: 45px;
}
.wrapper, .bootstrap-nav {
  width: 80%;
  max-width: 900px;
}
a {
  color: #031b4e; 
}
a:hover, a:focus, a:active {
  color: inherit;
  text-decoration-style: dotted;
}
.nav-link {
  color: rgba(255,255,255,0.8);
}
.router-link-exact-active, .nav-link:hover, .nav-link:focus {
  color: rgba(255,255,255,1);
}
.dropdown-menu {
  right: 0 !important;
}
.form-control {
  border: 0;
  border-bottom: 1px solid #e8ebed !important;
  background-color: transparent !important;
  padding-left: 2px;
  border-radius: 0;
  -webkit-appearance: none;
  font-size: 13px !important;
}
.form-control:focus {
  border-color: #007bff !important;
}
.form-control:disabled, .form-control[readonly] {
  background-color: #e6ecf0;
  border-color: #e6ecf0;
}
.highlight {
  padding: 2px 7px;
  border-radius: 4px;
}
.list, .nested-ul, .border-top, .border-bottom, .border-left, .table td, .table th, .table .thead-light th {
  border-color: #e6ecf0 !important;
}
.light-highlight, .light-highlight:hover, .light-highlight:focus, .list:hover {
  background: #f3f6f9;
}
.primary-highlight, .primary-highlight:hover, .primary-highlight:focus {
  background-color: #f1f8ff !important;
}
.criterion-list {
  border-right: 2px solid !important;
}
.fulfilled {
  border-right-color: #15c39a !important;
}
.not-fulfilled {
  border-right-color: #ea1537 !important;
}
.not-applicable {
  border-right-color: #99c2ff !important;
}
.btn:focus, .form-control, .form-control:focus, .in-invalid:focus, .custom-control-input:focus~.custom-control-label::before {
  box-shadow: none !important;
}
@media only print {
  body {
    font-size: 18px !important;
  } 
  nav, form, .btn, .screen-only  {
    display: none;
  }
  a {
    text-decoration: none !important;
  }
  .highlight {
    color: #000 !important;
    padding: 0;
  }
  .wrapper {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0 !important;
  }
  .table>tbody>tr>td, .table>tbody>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border-color: #000 !important;
    vertical-align: middle;
  }
  .sub-thead {
    border-bottom: 2px solid #000000 !important;
  }
  .default-card, .card__footer {
    margin-bottom: 0;
  }
  .check-icon {
    width: 20px;
  }
}